# Virtual Environment
venv/

# Environment Variables & Secrets
.env

# Logs and Database
logs/
backtest/logs/
*.log
*.db

# Data & Models
data/
models/
*.pt
*.pth
*.whl
sentence-transformers/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor Settings
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db
